<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>LifePathways</title>
    <%= stylesheet_link_tag 'pathways.css' %>  
  </head>
<body>
	<table class="main">
		<!-- Header -->
		<tr><td class="clean"><table class="header"><tr>
			<td class="name"><img class="name" src="/images/pathways_symsys.gif"/></td>
			<td/>
			<td class="tab"><img id="about" class="tab" src="/images/buttons/about.gif"
				onmouseover="rollOver('about', '/images/buttons/about-on.gif')"
				onmouseout="rollOver('about', '/images/buttons/about.gif')" />
				<!-- onclick="window.location='about.html'"/> --></td>
			<td class="tab"><img id="search" class="tab" src="/images/buttons/search.gif"
				onmouseover="rollOver('search', '/images/buttons/search-on.gif')"
				onmouseout="rollOver('search', '/images/buttons/search.gif')"
				onclick="window.location='/profiles/search'"/></td>
			<% if session[:user_id] %>
				<td class="tab"><img id="mypathway" class="tab" src="/images/buttons/mypathway.gif"
				onmouseover="rollOver('mypathway', '/images/buttons/mypathway-on.gif')"
				onmouseout="rollOver('mypathway', '/images/buttons/mypathway.gif')"
				onclick="window.location='/profiles/view/<%= session[:user_id] %>'"/></td>
				<td class="tab"><img id="signout" class="tab" src="/images/buttons/signout.gif"
					onmouseover="rollOver('signout', '/images/buttons/signout-on.gif')"
					onmouseout="rollOver('signout', '/images/buttons/signout.gif')"
					onclick="window.location='/user/logout'"/></td>
			<% else %>
				<td class="tab"><img id="signin" class="tab" src="/images/buttons/signin.gif"
					onmouseover="rollOver('signin', '/images/buttons/signin-on.gif')"
					onmouseout="rollOver('signin', '/images/buttons/signin.gif')"
					onclick="window.location='/user/signin'"/></td>
			<% end %>
		</tr></table></td></tr>
	
		<!-- Body Content -->
		<tr><td class="content"><table class="clean" align="center"><tr>
		<% form_for :user, :url => {:action => :post_edit}, :html => {:multipart => true} do |form| %>

	
			<!-- Column 1 -->
			<td class="contentColumn">	
				<table class="editprofiletable">
					<tr><td class="heading" colspan="3" style="padding-top: 10px;">Edit Pathway</td></tr>
					<tr><td class="heading" style="width:30px;">Name:</td><td colspan="2"><%= form.text_field(:name, :size => "22x1", :class => "title", :style => "width:320px;height:18px;") %></td></tr>
					<tr><td class="heading" style="width:30px;">Email:</td><td colspan="2"><%= form.text_field(:email, :size => "22x1", :class => "title", :style => "width:320px;height:18px;") %></td></tr>
					<tr><td style="width:80px"></td><td style="width:150px"></td><td class="text"><%= form.check_box :email_private, :value => 0 %>Keep this email private</td></tr>
					<tr><td colspan="3"  class="heading">Interview</td></tr>
					<tr><td colspan="3"  class="text">The following interview questions are just suggestions; feel free to add your own <br/>and if you’re interviewing someone else, to natually follow the conversation.<br/>Also feel free to add a video to this page by entering a YouTube URL below.</td></tr>
					
					<tr><td class="text" colspan="3">YouTube URL:&nbsp;<%= form.text_field(:video_url, :size => "30x1", :class => "text", :style => "width:400px;height:15px;text-align:left") %></td></tr>

					<tr><td colspan="3"  class="text">
						<% if @user.is_alum == "1" %><%= form.text_area(:alum_interview_text, :size => "65x25", :style=> "overflow:auto;background-color:#EAF0F5", :class => "title", :wrap => "soft") %>
						<% else %><%= form.text_area(:student_interview_text, :size => "65x25", :style=> "overflow:auto;background-color:#EAF0F5", :class => "title", :wrap => "soft") %><% end %></td></tr>
					<tr><td colspan="3" class="heading">Six-word title for this Pathway:</td></tr>
					<tr><td colspan="3" class="heading"><%= form.text_field(:six_words, :size => "67x1", :class => "title", :style => "width:604px;height:18px;text-align:left;") %></td></tr>
					<tr><td colspan="3" class="heading">Brief summary (for search results):</td></tr>
					<tr><td colspan="3" class="heading"><%= form.text_area(:summary, :size => "65x6", :class => "title") %></td></tr>
					<tr><td colspan="3" style="text-align:right;"><%= submit_tag "Save Changes", :class =>"submit" %></td></tr>


				</table>
			</td>

			<!-- How to make the 10px gutter here? -->

			<!-- Column 2 -->
			<td class="contentColumn">
				<table class="infoTable">
										
					<tr><td class="heading" colspan="3">&nbsp;</td></tr>
					
					<tr><td>
						<img rowspan="2" class="pic" src="/images/pics/<%= @user.image_file %>"/></td><td class="text" colspan="2">New image file:<br/><%= form.file_field(:image_file) %></td></tr>					</td></tr>
					<tr><td class="title" colspan="3">Symbolic Systems Experience</td></tr>
					<tr><td class="text" style="text-align:right;width:200px">Class year:</td>
						<td colspan="2"><%= select( "user", "stanford_class", (1987..2013).to_a {|year| [ year.to_s, year]}, { :include_blank => true}) %></td></tr>							
					<tr><td class="text" style="text-align:right;width:200px">Degree:</td>
						<td colspan="2"><%= select( "user", "degree", ["BS", "MA", "BS & MA"].to_a {|degree| [degree, degree]}, { :include_blank => true}) %></td></tr>
					<tr><td class="text" style="text-align:right;width:200px">Concentration:</td>
						<td colspan="2"><%= form.text_field(:focus, :size => "20x1", :class => "text", :style => "height:15px;text-align:left") %></td></tr>
						
					<tr><td class="text" colspan="3">&nbsp;</td></tr>
					<tr><td colspan="3"><table class="dot"><tr><td class="dot"/></tr></table></td></tr>
					<tr><td class="text" colspan="3">&nbsp;</td></tr>
					<tr><td class="title" colspan="3">Work Experience</td></tr>

					  <% @jobs.each do |job| %>
						<tr><td height="7"/></tr>

						<% prefix = "user[existing_job_attributes][]" %> 
						<% fields_for prefix, job do |job_form| %>
						
						  
						<tr><td class="text" style="text-align:right;width:200px">Company:</td>
						<td colspan="2"><%= job_form.text_field(:company, :size => "20x1", :class =>"text", :style => "height:15px;text-align:left") %></td></tr>
					<tr><td class="text" style="text-align:right;width:200px">Title:</td>
						<td colspan="2"><%= job_form.text_field(:title, :size => "20x1", :class =>"text", :style => "height:15px;text-align:left") %></td></tr>
						
					<tr><td class="text" style="text-align:right;width:200px">Started:</td>
						<td width="65"><%= select("[user][existing_job_attributes][#{job.id}]", "start_m", options_for_select([["Jan", 1], ["Feb", 2], ["Mar", 3], ["Apr", 4], ["May", 5], ["Jun", 6], ["Jul", 
						7], ["Aug", 8], ["Sep", 9], ["Oct", 10], ["Nov", 11], ["Dec", 12]], job.start_m), { :include_blank => true}) %>&nbsp;/</td>
						<td><%= select("[user][existing_job_attributes][#{job.id}]", "start_y", options_for_select((1987..2010).to_a {|year| [year.to_s, year]}, job.start_y), { :include_blank => true}) %></td></tr>
						
					<tr><td class="text" style="text-align:right;width:200px">Ended:</td>
						<td><%=select("[user][existing_job_attributes][#{job.id}]", "end_m", options_for_select([["Jan", 1], ["Feb", 2], ["Mar", 3], ["Apr", 4], ["May", 5], ["Jun", 6], ["Jul", 
						7], ["Aug", 8], ["Sep", 9], ["Oct", 10], ["Nov", 11], ["Dec", 12]], job.end_m), { :include_blank => true}) %>&nbsp;/</td>
						<td><%=select("[user][existing_job_attributes][#{job.id}]", "end_y", options_for_select((1987..2010).to_a {|year| [year.to_s, year]}, job.end_y), { :include_blank => true}) %></td></tr>
					<tr><td/><td colspan="2" class="text"><%= job_form.check_box :job_current, :value => 0 %>I currently work here</td></tr>
					<tr><td class="text" style="text-align:right;width:200px">Satisfaction:</td>
						<td colspan="2"><%= select("[user][existing_job_attributes][#{job.id}]", "satisfaction", options_for_select([["5 - completely satisfied", 5], ["4 - quite satisfied", 4], ["3 - somewhat satisfied", 3], ["2 - somewhat dissatisfied", 2], ["1 - hated it", 1]], job.satisfaction), { :include_blank => true}) %></td></tr>						
					
					<tr><td class="text" style="text-align:right;width:200px;vertical-align: top;">Responsibilities:</td>
						<td colspan="2">
						<%= job_form.text_area(:responsibilities, :size => "16x4", :class => "text", :wrap => "soft", :style =>"overflow:auto") %>
					</td></tr>
						
						<% end %>
					  <% end %>
					  <tr><td/><td/><td style="text-align:center;"><%= submit_tag "+", :class =>"submit" %></td></tr>

					<tr><td colspan="3"></td></tr>
	
					<tr><td class="text" colspan="3">&nbsp;</td></tr>
					<tr><td colspan="3"><table class="dot"><tr><td class="dot"/></tr></table></td></tr>
					<tr><td class="text" colspan="3">&nbsp;</td></tr>


				</table> 
			</td>
		
		</tr></table></td></tr>
  		<input type = "hidden" name="id" value="<%= params[:id] %>">

		<!-- Footer -->
		  
		<% end %>
	</table>	
</body>
</html>
<script type="text/javascript">

	function rollOver(imgName, imgSrc)
   	{
		document.getElementById(imgName).src = imgSrc;
	}
</script>
