<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>LifePathways</title>
    <%= stylesheet_link_tag 'steppingStones.css' %>  
  </head>
<body>
<center>
 	<table border="0"><tr>
	<td width="630" align="left"><table><tr><td><a href="<%= url_for(:controller => "profiles", :action => "search") %>" style="text-decoration:none; color:black;"><h1>LifePathways</h1></a></td>
		<td valign="bottom"><b>profiles of Stanford alumni</b></td></tr></table></td>
	<td width="300" style="text-align:right; vertical-align:bottom;"><small>
	<% if session[:user_id] %>
			<% curUser = User.find(session[:user_id]) %>
			<a href = "<%= url_for(:controller => "user", :action => "logout") %>">Log out</a>
			 | <a href = "<%= url_for(:controller => "profiles", :action => "view", :id => session[:user_id]) %>">My Profile</a>
		<% else %>			
			<a href = "<%= url_for(:controller => "user", :action => "signin") %>">Log in</a>
		<% end %></a> | <a href = "<%= url_for(:controller => "profiles", :action => "search") %>">Home</a></small></td>
  </tr></table>

<% form_for :user, :url => {:action => :post_edit}, :html => {:multipart => true} do |form| %>
  <table><tr>
	<!-- Left Pane -->
	<td>
		<table>
			<!-- Personal Information -->
			<tr><td><div class="profile_info">
				<table><tr>
					<td><img class="profilePic" src="/images/<%= @user.image_file %>"/></td>
					<td><table>
						<tr><td>name:</td><td><%= form.text_field(:name, :size => "22x1") %></td></tr>
						<tr><td>email address:</td><td><%= form.text_field(:email, :size => "22x1") %></td></tr>
						
						
						
						
					</table></td>
						<tr><td class="label">Choose an image file to upload:</td>
						<td><%= form.file_field(:image_file) %>
						<td></tr>
				</tr></table>
			</div></td></tr>

			<tr><td/></tr>

			<!-- Education / Job History -->
			<tr><td><div class="profile_info">
				<table>
					<tr><td><h3>Stanford University</h3></td></tr>
					<tr><td><table>
						<tr><td>Class Year&nbsp;(yyyy):</td><td><%= form.text_field(:stanford_class, :size => "4x1") %></td></tr>
						<tr><td>Degree:</td><td><select name="degree">
							<option/>
							<option 
							<% if @user.degree == "Undergraduate" %>
								selected
							<% end %>
							>Undergraduate</option>
							<option 
							<% if @user.degree== "Masters" %>
								selected
							<% end %>
							>Masters</option>
							<option 
							<% if @user.degree == "Doctoral" %>
								selected
							<% end %>
							>Doctoral</option>
						</select></td></tr>
						<tr><td>Major/focus:</td><td><%= form.text_field(:major, :size => "20x1") %></td></tr>

					</table></td></tr>
				</tr></table>
			</div></td></tr>

			<tr><td/></tr>

			<tr><td><div class="profile_info">
				<table>
					<tr><td><h3>Work Experience</h3></td></tr>
					<tr><td><table>
						<tr><td>Company</td><td><%= form.text_field(:company1, :size => "20x1") %></td></tr>
						<tr><td>Title</td><td><%= form.text_field(:title1, :size => "20x1") %></td></tr>
						<tr><td>Started&nbsp;&nbsp;(mm/yyyy):</td><td><%= form.text_field(:job_start1, :size => "7x1") %></td></tr>
						<tr><td>Ended&nbsp;&nbsp;(mm/yyyy):</td><td><%= form.text_field(:job_end1, :size => "7x1") %></td></tr>
						<tr><td>Satisfaction:</td><td><select name="satisfaction1"/>
								<option/>
								<option 
								<% if @user.satisfaction1 == 5 %>
									selected
								<% end %>
								value="5">5 [very satisfied]</option>
								<option 
								<% if @user.satisfaction1 == 4 %>
									selected
								<% end %>
								value="4">4</option>				
								<option 
								<% if @user.satisfaction1 == 3 %>
									selected
								<% end %>
								value="3">3</option>				
								<option 
								<% if @user.satisfaction1 == 2 %>
									selected
								<% end %>
								value="2">2</option>
								<option 
								<% if @user.satisfaction1 == 1 %>
									selected
								<% end %>
								value="1">1 [very unsatisfied]</option>
							</select></td></tr>
					</table></td></tr>
					
					<% if @user.company1 != nil && @user.company1.length > 0%>
					<tr><td><table>
						<tr><td>Company</td><td><%= form.text_field(:company2, :size => "20x1") %></td></tr>
						<tr><td>Title</td><td><%= form.text_field(:title2, :size => "20x1") %></td></tr>
						<tr><td>Started&nbsp;&nbsp;(mm/yyyy):</td><td><%= form.text_field(:job_start2, :size => "7x1") %></td></tr>
						<tr><td>Ended&nbsp;&nbsp;(mm/yyyy):</td><td><%= form.text_field(:job_end2, :size => "7x1") %></td></tr>
						<tr><td>Satisfaction:</td><td><select name="satisfaction2"/>
								<option/>
								<option 
								<% if @user.satisfaction2 == 5 %>
									selected
								<% end %>
								value="5">5 [very satisfied]</option>
								<option 
								<% if @user.satisfaction2 == 4 %>
									selected
								<% end %>
								value="4">4</option>				
								<option 
								<% if @user.satisfaction2 == 3 %>
									selected
								<% end %>
								value="3">3</option>				
								<option 
								<% if @user.satisfaction2 == 2 %>
									selected
								<% end %>
								value="2">2</option>
								<option 
								<% if @user.satisfaction2 == 1 %>
									selected
								<% end %>
								value="1">1 [very unsatisfied]</option>
							</select></td></tr>
					</table></td></tr>
					<% end %>
					
					<% if @user.company2 != nil && @user.company2.length > 0%>
					<tr><td><table>
						<tr><td>Company</td><td><%= form.text_field(:company3, :size => "20x1") %></td></tr>
						<tr><td>Title</td><td><%= form.text_field(:title3, :size => "20x1") %></td></tr>
						<tr><td>Started&nbsp;&nbsp;(mm/yyyy):</td><td><%= form.text_field(:job_start3, :size => "7x1") %></td></tr>
						<tr><td>Ended&nbsp;&nbsp;(mm/yyyy):</td><td><%= form.text_field(:job_end3, :size => "7x1") %></td></tr>
						<tr><td>Satisfaction:</td><td><select name="satisfaction3"/>
								<option/>
								<option 
								<% if @user.satisfaction3 == 5 %>
									selected
								<% end %>
								value="5">5 [very satisfied]</option>
								<option 
								<% if @user.satisfaction3 == 4 %>
									selected
								<% end %>
								value="4">4</option>				
								<option 
								<% if @user.satisfaction3 == 3 %>
									selected
								<% end %>
								value="3">3</option>				
								<option 
								<% if @user.satisfaction3 == 2 %>
									selected
								<% end %>
								value="2">2</option>
								<option 
								<% if @user.satisfaction3 == 1 %>
									selected
								<% end %>
								value="1">1 [very unsatisfied]</option>
							</select></td></tr>
					</table></td></tr>
					<% end %>
					
					<% if @user.company3 != nil && @user.company3.length > 0%>
					<tr><td><table>
						<tr><td>Company</td><td><%= form.text_field(:company4, :size => "20x1") %></td></tr>
						<tr><td>Title</td><td><%= form.text_field(:title4, :size => "20x1") %></td></tr>
						<tr><td>Started&nbsp;&nbsp;(mm/yyyy):</td><td><%= form.text_field(:job_start4, :size => "7x1") %></td></tr>
						<tr><td>Ended&nbsp;&nbsp;(mm/yyyy):</td><td><%= form.text_field(:job_end4, :size => "7x1") %></td></tr>
						<tr><td>Satisfaction:</td><td><select name="satisfaction4"/>
								<option/>
								<option 
								<% if @user.satisfaction4 == 5 %>
									selected
								<% end %>
								value="5">5 [very satisfied]</option>
								<option 
								<% if @user.satisfaction4 == 4 %>
									selected
								<% end %>
								value="4">4</option>				
								<option 
								<% if @user.satisfaction4 == 3 %>
									selected
								<% end %>
								value="3">3</option>				
								<option 
								<% if @user.satisfaction4 == 2 %>
									selected
								<% end %>
								value="2">2</option>
								<option 
								<% if @user.satisfaction4 == 1 %>
									selected
								<% end %>
								value="1">1 [very unsatisfied]</option>
							</select></td></tr>
					</table></td></tr>
					<% end %>

	
					<tr><td height="11"/></tr>
			
	
				</tr></table>
			</div></td></tr>
		</table>
	</td>
	
	<!-- Right Pane -->
	<td>
		<table cellpadding="5">
			<!-- Interview -->
			<tr><td><div class="profile_interview">
			<table border="0">
				<tr>
					<td colspan="2"><h3>My Pathway Interview</h3></td>
				</tr>
				<tr>
					<td><h3>Six word title:</h3></td>
				 	<td><%= form.text_field(:six_words, :size => "45x1") %></td>
				</tr>
			</table>
				<table><tr><td>
<%= form.text_area(:interview_text, :size => "75x17") %>

				</td></tr>
				<tr><td>Main Page Summary:</td></tr>
				<tr><td><%= form.text_area(:summary, :size => "75x5signin") %></td></tr>


</table>
			</div></td></tr>

			<tr><td/></tr>

				
			<!-- Interview list -->
			  <% if @user.id == @user.author %>
			<tr>
				<td><div class="profile_interviews">
					<h3>Interviews I Performed</h3>
					<center>
					<% if @user.total_authored > 0 %>
						<table class="contribTable">
						<tr><td><h5>Subject</h5></td><td><h5>Number of Views</h5></td></tr>
						<% if @user.total_authored > 0 %>
							<% @interviewees.each do |interviewee| %>
								<tr class="<%= cycle("odd", "even", :name => "row_class") %>Row"><td width="245px"><a href="<%= url_for(:action => "view", :id => interviewee.id) %>" style="color:black;"><%= interviewee.name %></a></td><td width="245px"><%= interviewee.views %></td></tr>
							<% end %>
						<% end %>
					</table>
					<% else %>
						Help complete our alumni network by interviewing colleagues you graduated with<br/>or alumni you've always looked up to. You can create a new profile for these contacts<br/>by choosing "Add a new interview" below.
					<% end %>
					</center>
					<div><table><tr><td height="1"/></tr></table></div>
				</div></td>
			</tr>
			<% end %>
		</table>
	</td>
  </tr></table>	
  		<input type = "hidden" name="id" value="<%= params[:id] %>">

  <%= submit_tag "Save Changes", :class =>"submit" %>
  <% end %>
  <% if @user.id == @user.author %>
  <% form_for :user, :url => {:action => :post_newUser} do |form| %>
					<%= submit_tag "Add a new Interview", :class => "submit" %>
					<% end %><% end %>
				
</center>
</body>
</html>
