
		<!-- Body Content -->
		<tr><td class="content"><table class="clean" align="center"><tr>
		<% form_for :user, :url => {:action => :post_edit}, :html => {:multipart => true} do |form| %>
		
			<input type = "hidden" name="id" value="<%= params[:id] %>">

			<!-- Column 1 -->
			<td class="contentColumn">
				<table class="searchTable">
					
					<tr><td class="heading">Edit Pathway</td></tr>
					
					<tr><td class="box"><table class="clean" cellpadding="5">
					
						<tr>
							<td class="text" width="75px">&nbsp;&nbsp;Name</td>
							<td class="text" style="color:red;"><%= form.text_field(:name, :class => "text", :style => "height:16px;width:190px;") %><small><%= error_message_on :user, :name, "* Name " %></small></td>
							<td class="text" valign="top"><small>&nbsp;&nbsp;I am&nbsp;&nbsp;<%= radio_button("user", "is_alum", "0") %>a student&nbsp;<%= radio_button("user", "is_alum", "1") %>an alum</small></td>
						</tr>
						<tr>
							<td class="text">&nbsp;&nbsp;Email</td>
							<td class="text" style="color:red;"><%= form.text_field(:email, :class => "text", :style => "height:16px;width:190px;") %><small><%= error_message_on :user, :email, "* Email " %></small></td>
							<td class="text" valign="top"><%= form.check_box :email_private, :value => "0" %>&nbsp;<small>keep this email private</small></td>
						</tr>
						
						<% if session["#{$master.url}_id"] == @user.id %>
							<tr><td colspan="3"/></tr>
							<tr>
								<td colspan="2"><table class="clean" cellpadding="5">
									<tr><td class="text" width="70px">Change Password</td><td><input name="password" type="password" style="height:16px;width:190px;" /></td></tr>
									<tr><td class="text">Confirm password</td><td class="text" style="color:red;"><input name="password_confirmation" type="password" style="height:16px;width:190px;" /><% if flash[:notice] %><br/><small>* <%= flash[:notice] %></small><% end %></td></tr>
								</table></td>
								<td valign="top">
									<% if @user.author != 0 && @user.author != @user.id && @user.id == session["#{$master.url}_id"] %>
										<table class="clean"><tr>
											<td valign="top"><%= form.check_box :editing_restricted, {}, "0", "1" %></td>
											<td class="text" style="text-align:left;" width="165px"><small>Allow my interviewer, <%= @author.name %>, to continue editing my Pathway</td>
										</tr></table>
									<% end %>
								</td>
							</tr>
						<% end %>
					</table></td></tr>

					<tr><td/></tr>
					<tr><td class="title">Six word title for this Pathway:</td></tr>
					<tr><td><%= form.text_field(:six_words, :class => "text", :style => "height:20px;width:508px;") %></td></tr>
					<tr><td class="title">160 Character Summary (for search results):</td></tr>
					<tr><td><%= form.text_area(:summary, :class => "text", :style => "height:60px;width:512px;") %></td></tr>
					
					<tr><td/></tr>
					<tr><td class="title">Interview:</td></tr>
					<tr><td class="text">The following interview questions are just suggestions; feel free to add your own and if you&apos;re
						interviewing someone else, to natually follow the conversation. Also feel free to add a YouTube video or audio URL.</td></tr>
					<tr><td class="text" style="text-align:left;">YouTube URL&nbsp;&nbsp;<%= form.text_field(:video_url, :class => "text", :style => "height:16px;width:410px;") %></td></tr>
					<tr><td class="text">
						<% if @user.is_alum == "1" %>
							<%= form.text_area(:alum_interview_text, :class => "text", :style=> "height:550px;width:512px;overflow:auto;background-color:#EAF0F5", :wrap => "soft") %>
						<% else %>
							<%= form.text_area(:student_interview_text, :class => "text", :style=> "height:550px;width:512px;overflow:auto;background-color:#EAF0F5", :wrap => "soft") %>
						<% end %>
					</td></tr>

				</table>
			</td>

			<td width="10"/>

			<!-- Column 2 -->
			<td class="contentColumn"><table class="sideBar">
		
				<tr><td class="heading" style="text-align:right;"><%= submit_tag "Save Changes", :class =>"submit" %></td></tr>
				<tr><td><img class="pic" src="/images/pics/<%= @user.image_file %>"/></td></tr>
				<tr><td class="text" style="text-align:left;">My Pathway pic:<%= form.file_field(:image_file) %></td></tr>
				
				<tr><td/></tr>
				<tr><td class="title">Stanford Experience</td></tr>
				<tr><td><table class="clean" cellpadding="2">
				<% @degrees.each do |degree| %>

					<% prefix = "user[existing_degree_attributes][]" %> 
					<% fields_for prefix, degree do |degree_form| %>
	
					<tr>
						<td class="text" width="100">Class year</td>
						<td><%= select("[user][existing_degree_attributes][#{degree.id}]", "class_year", options_for_select((1935..2020).to_a.reverse {|year| [year.to_s, year]}, degree.class_year), { :include_blank => true}) %></td>
					</tr>
					<tr>
						<td class="text">Degree</td>
						<td><%= select("[user][existing_degree_attributes][#{degree.id}]", "degree", options_for_select([["B.S.", "B.S."], ["B.A.", "B.A."], ["M.S.", "M.S."], ["M.A.", "M.A."], ["Ph.D.", "Ph.D."], ["M.B.A.", "M.B.A."], ["M.D.", "M.D."], ["J.D.", "J.D."]], degree.degree), { :include_blank => true}) %></td>
					</tr>
					<tr>
						<td class="text">Major</td>
						<td class="text"><%= degree_form.text_field(:major, :class =>"text", :style => "height:15px;width:170px") %></td>
					</tr>
					<tr><td colspan="2" height="15" /></tr>
					<% end %>
				<% end %>
					<tr><td colspan="2" style="text-align:right;"><input name="add_degree" type="submit" value="+" /></td></tr>
				</table></td></tr>

				<tr><td><table class="dot"><tr><td class="dot"/></tr></table></td></tr>	

				<tr><td class="title">Work Experience</td></tr>
				<tr><td><table class="clean" cellpadding="2">
				<% @jobs.each do |job| %>
					<% prefix = "user[existing_job_attributes][]" %> 
					<% fields_for prefix, job do |job_form| %>
						
					<tr>
						<td class="text" width="100">Company</td>
						<td colspan="2" class="text"><%= job_form.text_field(:company, :class =>"text", :style => "height:15px;width:170px") %></td>
					</tr>
					<tr>
						<td class="text">Title</td>
						<td colspan="2" class="text"><%= job_form.text_field(:title, :class =>"text", :style => "height:15px;width:170px") %></td>
					</tr>
						
					<tr>
						<td class="text">Started</td>
						<td><%= select("[user][existing_job_attributes][#{job.id}]", "start_m", options_for_select([["Jan", 1], ["Feb", 2], ["Mar", 3],
							["Apr", 4], ["May", 5], ["Jun", 6], ["Jul", 7], ["Aug", 8], ["Sep", 9], ["Oct", 10], ["Nov", 11], ["Dec", 12]], 
							job.start_m), { :include_blank => true}) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/</td>
						<td><%= select("[user][existing_job_attributes][#{job.id}]", "start_y", options_for_select((1930..2010).to_a.reverse {|year| [year.to_s, year]}, job.start_y), { :include_blank => true}) %></td>
					</tr>
						
					<tr>
						<td class="text">Ended</td>
						<td><%=select("[user][existing_job_attributes][#{job.id}]", "end_m", options_for_select([["Jan", 1], ["Feb", 2], ["Mar", 3],
							["Apr", 4], ["May", 5], ["Jun", 6], ["Jul", 7], ["Aug", 8], ["Sep", 9], ["Oct", 10], ["Nov", 11], ["Dec", 12]],
							job.end_m), { :include_blank => true}) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/</td>
						<td><%=select("[user][existing_job_attributes][#{job.id}]", "end_y", options_for_select((1930..2010).to_a.reverse {|year| [year.to_s, year]}, job.end_y), { :include_blank => true}) %></td>
					</tr>
					
					<tr>
						<td/>
						<td colspan="2" class="text"><%= job_form.check_box :job_current, :value => 0 %><small>I currently work here</small></td>
					</tr>
					
					<tr>
						<td class="text">Satisfaction</td>
						<td colspan="2"><%= select("[user][existing_job_attributes][#{job.id}]", "satisfaction", options_for_select([["5 - completely satisfied", 5],
							["4 - quite satisfied", 4], ["3 - somewhat satisfied", 3], ["2 - somewhat dissatisfied", 2], ["1 - hated it", 1]], job.satisfaction), { :include_blank => true}) %></td>
					</tr>						
					
					<tr>
						<td class="text" valign="top">Responsibilities</td>
						<td colspan="2"><%= job_form.text_area(:responsibilities, :class => "text", :style => "height:75px;width:174px") %></td>
					</tr>
					<tr><td colspan="3" height="15" /></tr>
					<% end %>
				<% end %>
					<tr><td colspan="3" style="text-align:right;"><input name="add_job" type="submit" value="+" /></td></tr>
				</table></td></tr>
			
			</table></td></tr>

		</tr></table></td></tr>
  		<input type = "hidden" name="id" value="<%= params[:id] %>">
		<% end %>
	
<% content_for :javascript do %>
<script type="text/javascript">

	function rollOver(imgName, imgSrc)
   	{
		document.getElementById(imgName).src = imgSrc;
	}
</script>
<% end %>
