<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Pathways</title>
    <%= stylesheet_link_tag 'pathways.css' %>  
</head>
<body>
	<table class="main">
		<!-- Header -->
		<tr><td class="clean"><table class="header"><tr>
			<td class="name"><img class="name" src="/images/pathways.gif"/></td>
			<td/>
			<td class="tab"><img id="about" class="tab" src="/images/buttons/about.gif"
				onmouseover="rollOver('about', '/images/buttons/about-on.gif')"
				onmouseout="rollOver('about', '/images/buttons/about.gif')" />
				<!-- onclick="window.location='about.html'"/> --></td>
			<td class="tab"><img id="search" class="tab" src="/images/buttons/search.gif"
				onmouseover="rollOver('search', '/images/buttons/search-on.gif')"
				onmouseout="rollOver('search', '/images/buttons/search.gif')"
				onclick="window.location='/profiles/search'"/></td>
			<% if session[:user_id] %>
				<td class="tab"><img id="signout" class="tab" src="/images/buttons/signout.gif"
					onmouseover="rollOver('signin', '/images/buttons/signout-on.gif')"
					onmouseout="rollOver('signin', '/images/buttons/signout.gif')"
					onclick="window.location='/user/logout'"/></td>
			<% else %>
				<td class="tab"><img id="signin" class="tab" src="/images/buttons/signin.gif"
					onmouseover="rollOver('signin', '/images/buttons/signin-on.gif')"
					onmouseout="rollOver('signin', '/images/buttons/signin.gif')"
					onclick="window.location='/user/signin'"/></td>
			<% end %>
		</tr></table></td></tr>
	
		<!-- Body Content -->
		<tr><td class="content"><table class="clean" align="center"><tr>
	
			<!-- Column 1 -->
			<td class="contentColumn"><table class="searchTable">
					<tr><td class="heading"><table class="clean"><tr>
						<td width="100%">Featured alumni</td>
						<td width="100%" align="right"><input type="text" id="searchBox" class="search" onclick="searchClick();" onKeyPress="checkEnter(event)" value=""/></td>
					</tr></table></td></tr>

					<% if @user1 != nil %>
					<tr><td><table class="dot"><tr><td class="dot"/></tr></table></td></tr>
					<tr><td><table class="searchResult"><tr>
						<td valign="top"><a href="/profiles/view/<%= @user1[:id] %>"><img class="pic" src="/images/<%= @user1.image_file %>"/></a></td>
						<td><table class="clean">
							<tr><td class="title" valign="top"><a href="/profiles/view/<%= @user1[:id] %>"><%= @user1.name %><% if @user1.stanford_class != nil %> ('<%= (@user1.stanford_class/10)%10%><%= @user1.stanford_class % 10%>)<% end %></a></td></tr>
							<tr><td height="3"/></tr>
							<tr><td class="text" valign="top"><%= @user1.summary %></td></tr>
						</table></td>
					</table></td></tr>
					<% end %>

					<% if @user2 != nil %>
					<tr><td><table class="dot"><tr><td class="dot"/></tr></table></td></tr>
					<tr><td><table class="searchResult"><tr>
						<td valign="top"><a href="/profiles/view/<%= @user2[:id] %>"><img class="pic" src="/images/<%= @user2.image_file %>"/></a></td>
						<td><table class="clean">
							<tr><td class="title"><a href="/profiles/view/<%= @user2[:id] %>"><%= @user2.name %><% if @user2.stanford_class != nil %> ('<%= (@user2.stanford_class/10)%10%><%= @user2.stanford_class % 10%>)<% end %></a></td></tr>
							<tr><td height="3"/></tr>
							<tr><td class="text"><%= @user2.summary %></td></tr>
						</table></td>
					</table></td></tr>
					<% end %>

					<% if @user3 != nil %>
					<tr><td><table class="dot"><tr><td class="dot"/></tr></table></td></tr>
					<tr><td><table class="searchResult"><tr>
						<td valign="top"><a href="/profiles/view/<%= @user3[:id] %>"><img class="pic" src="/images/<%= @user3.image_file %>"/></a></td>
						<td><table class="clean">
							<tr><td class="title"><a href="/profiles/view/<%= @user3[:id] %>"><%= @user3.name %><% if @user3.stanford_class != nil %> ('<%= (@user3.stanford_class/10)%10%><%= @user3.stanford_class % 10%>)<% end %></a></td></tr>
							<tr><td height="3"/></tr>
							<tr><td class="text"><%= @user3.summary %></td></tr>
						</table></td>
					</table></td></tr>
					<% end %>

					<tr><td><table class="dot"><tr><td class="dot"/></tr></table></td></tr>	
					
				</table>
			</td>

			<td width="10"/>

			<td class="contentColumn"><table class="sideBar">
					
					<tr><td class="box"><table class="clean" width="310px;">
						<tr><td class="heading" style="text-align:center">We're building the Sym Sys community,</td></tr>
						<tr><td class="text" style="text-align:justify">one profile at a time.  You can browse for other alumni,
							create your own Pathway profile, or interview a Sym Sys alum and share 
							their wisdom - and Pathway - with all of us.</td></tr>
						<tr><td height="9"/></tr>
						<tr><td><table style="clean">
							<tr>
								<td width="28"/>
								<td width="100" style="text-align:center;" class="heading">
									<% if session[:user_id] %>
										<a href="/profiles/edit/<%= session[:user_id] %>">Edit Your Profile</a>
									<% else %>
										<a href="/user/signin">Create Your Own Profile</a>
									<% end %></td>
								<td width="43" class="text" style="text-align:center">or</td>
								<td width="100" style="text-align:center;" class="heading">
									<% if session[:user_id] %>
										<a href="/profiles/edit/<%= session[:user_id] %>">Interview A Fellow Alum</a>
									<% else %>
										<a href="/user/signin">Interview A Fellow Alum</a>
									<% end %></td>
								<td width="28"/>
							</tr>
						</table></td></tr>
						<tr><td height="9"/></tr>
						<tr><td class="text" style="text-align:center"><i>We're at <%= User.count %> pathways.  752 to go!</i></td></tr>
					</table></td></tr>
			

					<!--<tr><td><table class="dot"><tr><td class="dot"/></tr></table></td></tr>-->
					
					<tr><td>
						<table style="clean">
							<tr><td class="heading" width="180">Top Contributors</td><td class="title" width="70" align="center">Interviews Contributed</td><td class="title" width="70" align="center">Total Views</td></tr>
							<% @contributors.each do |contributor| %>
								<tr><td class="title"><a href="/profiles/view/<%= contributor.id %>"><%= contributor.name %><% if contributor.stanford_class != nil %> ('<%= (contributor.stanford_class/10)%10%><%= contributor.stanford_class % 10%>)<% end %></a></td><td class="text" style="text-align:center"><%= contributor.total_authored %></td><td class="text" style="text-align:center"><%= contributor.total_views %></td></tr>
							<% end %>
						</table>
					</td></tr>

					<tr><td><table class="dot"><tr><td class="dot"/></tr></table></td></tr>

					<tr><td>
						<table style="clean">
							<tr><td class="heading" width="180">Recent Pathways</td><td class="title" width="140" align="center">Interviewed By</td></tr>
							<% @recent_interviews.each do |recent| %>
								<% author = User.find(recent.author) %>
								<tr><td class="title"><a href="/profiles/view/<%= recent.id %>"><%= recent.name %><% if recent.stanford_class != nil %> ('<%= (recent.stanford_class/10)%10%><%= recent.stanford_class % 10%>)<%end %></a></td><td class="text" style="text-align:center"><a href="/profiles/view/<%= author.id %>"><%= author.name %><% if author.stanford_class != nil %> ('<%= (author.stanford_class/10)%10%><%= author.stanford_class % 10%>)<%end %></a></td></tr>
							<% end %>
						<table>
					</td></tr>

					<tr><td><table class="dot"><tr><td class="dot"/></tr></table></td></tr>

				</table>
			</td>
		
		</tr></table></td></tr>

		<!-- Footer -->
		
	</table>	
</body>
</html>
<script type="text/javascript">
	
	var searchString = "Search for alumni or pathways";
	var box = document.getElementById('searchBox');
	box.value = searchString;
	box.style.color = "gray";
	
	function searchClick()
	{
		var box = document.getElementById('searchBox');

		if (box.value == searchString)
		{
			box.value = "";
			box.style.color = "black";
		}
		else
		{
			// Detect clicking on icon?
		}
	}

	function checkEnter(e)
	{
		var code = (e && e.which) ? e.which : event.keyCode;
		if(code == 13)
		{
			// perform search
			//alert("performing search: " + document.getElementById('searchBox').value);
			window.location = "/profiles/search";
			return false;
		}
		
		return true;
	}

	function rollOver(imgName, imgSrc)
   	{
		document.getElementById(imgName).src = imgSrc;
	}
</script>
