
		<!-- Body Content -->
		<tr><td class="content"><table class="clean" align="center"><tr>
		
			<% if (@user.author != 0 && (@user.approved == 0 && session["#{$master.url}_id"] != @user.author) || (@user.approved == -1 && (session["#{$master.url}_id"] != @user.author && session["#{$master.url}_id"] != @user.id))) %>
				<td colspan="2" class="heading">This pathway is not yet available to view</td>
			<% else %>
			<!-- Column 1 -->
			<td class="contentColumn">
				<table class="interviewTable">
					<tr><td colspan="2" class="heading"><%= @user.name %> <%= @controller.getClassYears(@user) %><% if @user.six_words != nil && @user.six_words.length > 0 %>: <%=@user.six_words %><% end %></td></tr>
					<% if @user.video_url != "" %>
						<% @url = @user.video_url.sub(/watch\?v=/, "v/") %>
						<% print @url + "\n" %>
						<tr><td colspan="2" align="center"><object width="580" height="358"><param name="movie" value="<%=@url %>&hl=en_US&fs=1&rel=0&showinfo=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="<%=@url %>&hl=en_US&fs=1&rel=0&showinfo=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="580" height="358"></embed></object></td></tr>
					<% end %>

					<tr><td colspan="2" width="100%"><div style="height:444px;overflow:auto;background-color:#EAF0F5;"><table class="clean">
						<tr><td class="text" style="padding:10px;">
						<% if @user.author != 0 && @user.id != @user.author %>
							Interview conducted by <span class="title"><a href="<%= url_for(:action => "view", :id => @author.id) %>"><%= @author.name %> <%= @controller.getClassYears(@author) %></a></span> on <%= @user.interview_date.strftime("%B ") + @user.interview_date.day.to_s + @user.interview_date.strftime(", %Y") %><br/><br/>
						<% end %>
											
						<%= @interview_text %>
						
						</td></tr>
					</table></div></td></tr>
					
					<!-- Like button -->
					<% if ((session["#{$master.url}_id"] != nil) && (session["#{$master.url}_id"] != @user.id) && (@likerUser == nil))  || (@numLikers > 0) %>
					<tr><td class="text"><% form_for :user, :url => {:action => :post_like} do |form| %>
						<% if (session["#{$master.url}_id"] != nil) && (session["#{$master.url}_id"] != @user.id) && (@likerUser == nil) %>
							<input type = "hidden" name="id" value="<%= params[:id] %>">
							<%= submit_tag "Like", :class => "submit" %>
						<% end %>
					
						<!-- Like text -->
						<% if @numLikers > 0 %>
							<% if @likerUser != nil %>
								<a href="/profiles/view/<%= @liker1[:id] %>">you</a><% if @numLikers > 1 %>,<% end %>
							<% elsif @liker1 != nil %>
								<a href="/profiles/view/<%= @liker1[:id] %>"><%= @liker1.name %></a><% if @numLikers > 1 %>,<% end %>
							<% end %>
							<% if @liker2 != nil %>
								<% if @liker2 == nil %>and&nbsp;<% end %><a href="/profiles/view/<%= @liker2[:id] %>"><%= @liker2.name %></a><% if @numLikers > 2 %>,<% end %>
							<% end %>
							<% if @liker3 != nil %>
								<% if @numRemainingLikers == 0 %>and&nbsp;<% end %><a href="/profiles/view/<%= @liker3[:id] %>"><%= @liker3.name %></a><% if @numLikers > 3 %>,<% end %>
							<% end %>
							<% if @numRemainingLikers > 0 %>
								and <%= @numRemainingLikers %> other <% if @numRemainingLikers == 1 %>person<% else %>people<% end %>
							<% end %>
							like<% if @numLikers == 1 && @likerUser == nil %>s<% end %> this
						<% end %>
					<% end %></td></tr>
					<% end %>
	
					<!-- Ask a question -->
					<% if (session["#{$master.url}_id"] != nil) && (session["#{$master.url}_id"] != @user.id) %>
						<tr><td>
							<% form_for :user, :url => {:action => :post_question} do |form| %>
								<input type="text" name="new_question" size="63" />
								<input type = "hidden" name="id" value="<%= params[:id] %>">
								<%= submit_tag "Post a new question", :class => "submit" %>
							<% end %>
						</td></tr>
					<% end %>

				</table>
			</td>

			<!-- Column 2 -->
			<td class="contentColumn">
				<table class="infoTable">
					
					<tr><td class="heading" align="right">
						<% print "session id: " + session["#{$master.url}_id"].to_s + ", user id: " + @user.id.to_s + ", author: " + @user.author.to_s + ", editing allowed: " + @user.editing_allowed + "\n" %>

						<% if session["#{$master.url}_id"] == @user.id || (session["#{$master.url}_id"] == @user.author && @user.editing_allowed == "1") %>
							<% form_for :user, :url => {:action => :edit, :id => @user.id} do |form| %><%= submit_tag "Edit Pathway", :class => "submit" %><% end %>
							<% if @user.approved == 0 && session["#{$master.url}_id"] != @user.id %>
								<% form_for :user, :url => {:action => :post_submit, :id => @user.id} do |form| %><%= submit_tag "Submit for #{@user.name}'s Approval", :class => "submit" %><% end %>
							<% elsif @user.approved < 1 && session["#{$master.url}_id"] == @user.id %>
								<% form_for :user, :url => {:action => :post_approve, :id => @user.id} do |form| %><%= submit_tag "Approve", :class => "submit" %><% end %>
							<% end %>
						<% elsif session["#{$master.url}_id"] != nil && @user.author == 0 %>
							<% form_for :user, :url => {:action => :edit, :id => @user.id} do |form| %><%= submit_tag "Author Pathway", :class => "submit", :confirm => "This will make you the official author of #{@user.name}'s Pathway. Are you sure you want to continue?" %><% end %>
						<% elsif @user.author == 0 %>
							<% form_for :user, :url => {:action => :signin_to_interview, :id => @user.id} do |form| %><%= submit_tag "Author Pathway", :class => "submit" %><% end %>
						<% end %>
					</td></tr>

					<tr><td><table class="clean">
						<tr><td><img class="pic" src="/images/pics/<%= @user.image_file %>"/></td></tr>
						<tr><td class="title"><%= @user.name %></td></tr>
						<tr><td class="text"><% if @user.email_private == "0" %><%= @user.email %><% end %></td></tr>
						
						<% if @degrees.length > 0 %>
							<tr><td height="5"/></tr>
							<tr><td class="title" style="text-align:left;">Academic Experience</td></tr>
							
							<% @degrees.each do |degree| %>
								<tr><td class="text" style="text-align:left;">
								<%=degree.school%><% if degree.class_year != nil && degree.class_year > 0 %> ('<%= degree.class_year.to_s[2..3] %>)<% end %><br/>
								<%= degree.degree %><% if degree.degree != "" && degree.major != ""%>, <% end %>
								<%= degree.major %></td></tr>
								<tr><td height="5"/></tr>
							<% end %>
						<% end %>
	
						<% if @user.total_authored > 0 %>
							<tr><td height="5"/></tr>
							<tr><td class="box"><table class="clean">
								<tr><td class="title" width="230">Alumni Interviews</td><td class="title" width="40" align="center">Views</td></tr>
								<tr><td height="5"/></tr>
								<% @interviewees.each do |interviewee| %>
									<tr><td class="text" style="text-align:left;"><a href="<%= url_for(:action => "view", :id => interviewee.id) %>"><%= interviewee.name %> <%= @controller.getClassYears(interviewee) %></td><td class="text" style="text-align:center"><%= interviewee.views %></td></tr>
								<% end %>
								<tr><td/></tr>
								<% if session["#{$master.url}_id"] == @user.id %><tr><td height="3"/></tr>
									<tr><td colspan="2" class="text" style="text-align:center;"><a href="<%= url_for(:action => "interview") %>">Interview another alum</a></td></tr><% end %>
							</table></td></tr>
						<% end %>

						<% if @interviewsILike.length > 0 %>
							<tr><td height="5"/></tr>
							<tr><td class="box"><table class="clean">
								<tr><td class="title" width="200">Pathways I Like</td></tr>
								<tr><td height="5" /></tr>
								<% @interviewsILike.each do |interview| %>
									<tr><td class="text"><a href="<%= url_for(:action => "view", :id => interview.id) %>"><%= interview.name %> <%= @controller.getClassYears(interview) %></td></tr>
								<% end %>
							</table></td></tr>
						<% end %> 
					
						<% if @jobs.length > 0 %>
							<tr><td height="5"/></tr>
							<tr><td><table class="clean">
								<tr><td class="title" style="text-align:left;">Work Experience</td></tr>
								<% @jobs.each do |job| %>
									<tr><td class="text" style="text-align:left;">
										<%= job.title %><% if job.title.length > 0 && job.company.length > 0 %>, <% end %><%= job.company %><br/>
										<%= job.start_m.to_s + "/" + job.start_y.to_s%> - <% if job.job_current == "1" %>present<% else %><%=job.end_m.to_s + "/" + job.end_y.to_s%><% end %><br/>
										<% if job.responsibilities.length > 0 %>Responsibilities: <%=job.responsibilities %><br/><% end %>
										<% if job.satisfaction != nil%> Satisfaction: <%=job.satisfaction%> / 5<br/><% end %></td></tr>
									<tr><td height="5"/></tr>
								<% end %>
								</td></tr>
							</table></td></tr>
						<% end %>
					</table></td></tr>
				</table></td>
			<% end %>
			</tr></table></td></tr>

<% content_for :javascript do %>
<script type="text/javascript">

	function rollOver(imgName, imgSrc)
   	{
		document.getElementById(imgName).src = imgSrc;
	}
</script>
<% end %>