<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Pathways</title>
    <%= stylesheet_link_tag 'pathways.css' %>  
</head>
<body>
	<table class="main">
		<!-- Header -->
		<tr><td class="clean"><table class="header"><tr>
			<td class="name"><img class="name" src="/images/pathways.gif"/></td>
			<td/>
			<td class="tab"><img id="about" class="tab" src="/images/buttons/about.gif"
				onmouseover="rollOver('about', '/images/buttons/about-on.gif')"
				onmouseout="rollOver('about', '/images/buttons/about.gif')" />
				<!-- onclick="window.location='about.html'"/> --></td>
			<td class="tab"><img id="search" class="tab" src="/images/buttons/search.gif"
				onmouseover="rollOver('search', '/images/buttons/search-on.gif')"
				onmouseout="rollOver('search', '/images/buttons/search.gif')"
				onclick="window.location='/profiles/search'"/></td>
			<% if session[:user_id] %>
				<td class="tab"><img id="mypathway" class="tab" src="/images/buttons/mypathway.gif"
				onmouseover="rollOver('mypathway', '/images/buttons/mypathway-on.gif')"
				onmouseout="rollOver('mypathway', '/images/buttons/mypathway.gif')"
				onclick="window.location='/profiles/view/<%= session[:user_id] %>'"/></td>
				<td class="tab"><img id="signout" class="tab" src="/images/buttons/signout.gif"
					onmouseover="rollOver('signout', '/images/buttons/signout-on.gif')"
					onmouseout="rollOver('signout', '/images/buttons/signout.gif')"
					onclick="window.location='/user/logout'"/></td>
			<% else %>
				<td class="tab"><img id="signin" class="tab" src="/images/buttons/signin.gif"
					onmouseover="rollOver('signin', '/images/buttons/signin-on.gif')"
					onmouseout="rollOver('signin', '/images/buttons/signin.gif')"
					onclick="window.location='/user/signin'"/></td>
			<% end %>
		</tr></table></td></tr>

	
		<!-- Body Content -->
		<tr><td class="content"><table class="clean" align="center"><tr>
	
			<!-- Column 1 -->
			<td class="contentColumn">
				<table class="interviewTable">
					<tr><td colspan="2" class="heading"><%= @user.name %><% if @user.stanford_class != nil %> ('<%= (@user.stanford_class/10)%10%><%= @user.stanford_class % 10%>)<% end %><% if @user.six_words != nil && @user.six_words.length > 0 %>: <%=@user.six_words %><% end %></td></tr>
					<tr><td colspan="2" width="100%"><div style="height:444px;overflow:auto;background-color:#EAF0F5;"><table class="clean">
						<tr><td class="text" style="padding:10px;">
						<% if @user.id != @user.author %>
							Interview conducted by <span class="title"><a href="<%= url_for(:action => "view", :id => @author.id) %>"><%= @author.name %><% if @author.stanford_class != nil %> ('<%= (@author.stanford_class/10)%10%><%= @author.stanford_class % 10%>)<% end %></a></span> on <%= @user.interview_date.strftime("%B ") + @user.interview_date.day.to_s + @user.interview_date.strftime(", %Y") %><br/><br/>
						<% end %>
						
						<%= @interview_text %>
						
						</td></tr>
					</table></div></td></tr>
					
					<tr><td class="text">
					<% if session[:user_id] == @user.id %>
						<% if @user.likes > 0 %><%= @user.likes %><% if @user.likes == 1 %> person likes <% else %> people like <% end %> this<% end %>
					<% else %>
						<% form_for :user, :url => {:action => :post_like} do |form| %>
						<% if @user.likes > 0 %><%= @user.likes %><% if @user.likes == 1 %> person likes <% else %> people like <% end %> this<% end %>
						<input type = "hidden" name="id" value="<%= params[:id] %>">
						<%= submit_tag "Like", :class => "submit" %>
						<% end %></td></tr>
					
						<tr><td><% form_for :user, :url => {:action => :post_question} do |form| %>
						<%= form.text_field(:new_question, :size => "60x1") %>
						<input type = "hidden" name="id" value="<%= params[:id] %>">
						<%= submit_tag "Post a new question", :class => "submit" %>
						<% end %>
					<% end %>
					</td></tr>

				</table>
			</td>

			<!-- Column 2 -->
			<td class="contentColumn">
				<table class="infoTable">
					
					<tr><td class="heading">&nbsp;</td></tr>

					<tr><td><table class="clean">
						<% if session[:user_id] == @user.id || session[:user_id] == @user.author %><tr><td><% form_for :user, :url => {:action => :edit, :id => @user.id} do |form| %>
						<%= submit_tag "Edit profile", :class => "submit" %>
						<% end %></td></tr>
						<% end %>

						<tr><td><img class="pic" src="/images/<%= @user.image_file %>"/></td></tr>
						<tr><td height="5"/></tr>
						<tr><td class="title"><%= @user.name %></td></tr>
						<tr><td height="5"/></tr>
						<tr><td class="text">
						<% if @user.degree != nil %>
							<%= @user.degree %>, 
						<% end %>
						Symbolic Systems <% if @user.stanford_class != nil %> ('<%= (@user.stanford_class/10)%10%><%= @user.stanford_class % 10%>)<% end %><br/>
							<% if @user.major != nil && @user.major.length > 0 %> Concentration: <%= @user.major %><br/><% end %>
							<% if @user.email_private == 0 %><%= @user.email %><%end %></td></tr>
					</table></td></tr>
					<tr><td height="5"/></tr>


					<% if @user.total_authored > 0 %>
					<tr><td height="5"/></tr>
					<tr><td class="box"><table class="clean">
						<tr><td class="title" width="150">Inteviews Conducted</td><td class="title" width="50" align="center">Views</td></tr>
						<% @interviewees.each do |interviewee| %>
							<tr><td class="text"><a href="<%= url_for(:action => "view", :id => interviewee.id) %>"><%= interviewee.name %><% if interviewee.stanford_class != nil %> ('<%= (interviewee.stanford_class/10)%10%><%= interviewee.stanford_class % 10%>)<% end %></td><td class="text" style="text-align:center"><%= interviewee.views %></td></tr>
						<% end %>
					</table></td></tr>
					<tr><td height="5"/></tr>

					<% end %>

					<tr><td><table class="clean">
						<tr><td class="title" style="text-align:left;">Work Experience</td></tr>
						<tr><td height="5"/></tr>
						<tr><td class="text">
						<% if @user.title1 != nil && @user.title1.length > 0%>
							<%=@user.title1 %><br/><%=@user.company1%><br/>
							<%=@user.job_start_m1.to_s + "/" + @user.job_start_y1.to_s%> - <%=@user.job_end_m1.to_s + "/" + @user.job_end_y1.to_s%><br/>
							Responsibilities: <%=@user.responsibilities1 %><br/>
							Satisfaction: <%=@user.satisfaction1%> / 5<br/><br/>
						<% end %>
						<% if @user.title2 != nil && @user.title2.length > 0%>
							<%=@user.title2 %><br/><%=@user.company2%><br/>
							<%=@user.job_start_m2.to_s + "/" + @user.job_start_y2.to_s%> - <%=@user.job_end_m2.to_s + "/" + @user.job_end_y2.to_s%><br/>
							Responsibilities: <%=@user.responsibilities2 %><br/>
							Satisfaction: <%=@user.satisfaction2%> / 5<br/><br/>
						<% end %>
						<% if @user.title3 != nil && @user.title3.length > 0%>
							<%=@user.title3 %><br/><%=@user.company3%><br/>
							<%=@user.job_start_m3.to_s + "/" + @user.job_start_y3.to_s%> - <%=@user.job_end_m3.to_s + "/" + @user.job_end_y3.to_s%><br/>
							Responsibilities: <%=@user.responsibilities3 %><br/>
							Satisfaction: <%=@user.satisfaction3%> / 5<br/><br/>
						<% end %>
						<% if @user.title4 != nil && @user.title4.length > 0%>
							<%=@user.title4 %><br/><%=@user.company4%><br/>
							<%=@user.job_start_m4.to_s + "/" + @user.job_start_y4.to_s%> - <%=@user.job_end_m4.to_s + "/" + @user.job_end_y4.to_s%><br/>
							Responsibilities: <%=@user.responsibilities4 %><br/>
							Satisfaction: <%=@user.satisfaction4%> / 5<br/><br/>
						<% end %>
						<% if @user.title5 != nil && @user.title5.length > 0%>
							<%=@user.title5 %><br/><%=@user.company5%><br/>
							<%=@user.job_start_m5.to_s + "/" + @user.job_start_y5.to_s%> - <%=@user.job_end_m5.to_s + "/" + @user.job_end_y5.to_s%><br/>
							Responsibilities: <%=@user.responsibilities5 %><br/>
							Satisfaction: <%=@user.satisfaction5%> / 5<br/><br/>
						<% end %>
						<% if @user.title6 != nil && @user.title6.length > 0%>
							<%=@user.title6 %><br/><%=@user.company6%><br/>
							<%=@user.job_start_m6.to_s + "/" + @user.job_start_y6.to_s%> - <%=@user.job_end_m6.to_s + "/" + @user.job_end_y6.to_s%><br/>
							Responsibilities: <%=@user.responsibilities6 %><br/>
							Satisfaction: <%=@user.satisfaction6%> / 5<br/><br/>
						<% end %>
						<% if @user.title7 != nil && @user.title7.length > 0%>
							<%=@user.title7 %><br/><%=@user.company7%><br/>
							<%=@user.job_start_m7.to_s + "/" + @user.job_start_y7.to_s%> - <%=@user.job_end_m7.to_s + "/" + @user.job_end_y7.to_s%><br/>
							Responsibilities: <%=@user.responsibilities7 %><br/>
							Satisfaction: <%=@user.satisfaction7%> / 5<br/><br/>
						<% end %>
						<% if @user.title8 != nil && @user.title8.length > 0%>
							<%=@user.title8 %><br/><%=@user.company8%><br/>
							<%=@user.job_start_m8.to_s + "/" + @user.job_start_y8.to_s%> - <%=@user.job_end_m8.to_s + "/" + @user.job_end_y8.to_s%><br/>
							Responsibilities: <%=@user.responsibilities8 %><br/>
							Satisfaction: <%=@user.satisfaction8%> / 5<br/><br/>
						<% end %>
						</span></td></tr>
					</table></td></tr>
				</table>
			</td>
		
		</tr></table></td></tr>

		<!-- Footer -->
		
	</table>	
</body>
</html>
<script type="text/javascript">

	function rollOver(imgName, imgSrc)
   	{
		document.getElementById(imgName).src = imgSrc;
	}
</script>
