<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Pathways</title>
    <%= stylesheet_link_tag 'pathways.css' %>  
</head>
<body>
	<table class="main">
<!-- Header -->
		<tr><td class="clean"><table class="header"><tr>
			<td class="name"><img class="name" src="/images/pathways.gif"/></td>
			<td/>
			<td class="tab"><img id="about" class="tab" src="/images/buttons/about.gif"
				onmouseover="rollOver('about', '/images/buttons/about-on.gif')"
				onmouseout="rollOver('about', '/images/buttons/about.gif')" />
				<!-- onclick="window.location='about.html'"/> --></td>
			<td class="tab"><img id="search" class="tab" src="/images/buttons/search.gif"
				onmouseover="rollOver('search', '/images/buttons/search-on.gif')"
				onmouseout="rollOver('search', '/images/buttons/search.gif')"
				onclick="window.location='search'"/></td>
			<td class="tab"><img id="signin" class="tab" src="/images/buttons/signin.gif"
				onmouseover="rollOver('signin', '/images/buttons/signin-on.gif')"
				onmouseout="rollOver('signin', '/images/buttons/signin.gif')"
				onclick="window.location='/user/signin'"/></td>
		</tr></table></td></tr>

	
		<!-- Body Content -->
		<tr><td class="content"><table class="clean" align="center"><tr>
	
			<!-- Column 1 -->
			<td class="contentColumn">
				<table class="interviewTable">
					<tr><td colspan="2" class="heading"><%= @user.name %><% if @user.stanford_class != nil %> ('<%= (@user.stanford_class/10)%10%><%= @user.stanford_class % 10%>)<% end %><% if @user.six_words != nil && @user.six_words.length > 0 %>: <%=@user.six_words %><% end %></td></tr>
					<tr><td colspan="2" width="100%"><div style="height:444px;overflow:auto;background-color:#EAF0F5;"><table class="clean">
						<tr><td class="text" style="padding:10px;">
						<% if @user.id != @user.author %>
							Interview conducted by <span class="title"><a href="<%= url_for(:action => "view", :id => @author.id) %>"><%= @author.name %><% if @author.stanford_class != nil %> ('<%= (@author.stanford_class/10)%10%><%= @author.stanford_class % 10%>)<% end %></a></span> on March 4, 2010.<br/><br/>
						<% end %>
						
						<em>What's the best job you've had since graduation?</em><br/>
						Working as a Product Developer at Zoodles.<br/><br/>

						<em>How did you find out about this job and why did you join?</em><br/>
						I discovered this job at a small career fair at the department of education.
							I was drawn by the energy of the representatives and their palpable passion for education!
							I didn't have the exact qualifications they were looking for, but my Sym Sys senior
							proejct is what put me over the top and got me the job. <br/><br/>

						<em>What was the best part of the job?</em><br/>
						Working with a small, dedicated team.  I was able to quickly learn from them, as well as
						make immediate contributions, and the environment allowed me to make mistakes, and ask
						when I needed help. I find that's really important; I had one summer job at a larger firm that
						I won't mention (she coughs: Intel!), where it felt like everyone was just trying to show how
						much they knew and not ever ask for assistance. I feel much more comfortable here.<br/><br/>

						<em>Did your Symbolic Systems degree help you in this work?</em><br/>
						Yes and no. Without my senior project I wouldn't have gotten the job, so yes! Also, I learned
							how to think about human-centered design in Sym Sys, which I think gives me an edge over
							more pure engineers when it comes time to decide what to focus on, which design decisions
							to wait on, and which to decide early. I don't think Sym Sys properly prepared me for the
							range of programming languages out there; that's probably my one regret. I wish I had
							taken a course in Rails, for example. That said, I loved the major. <br/><br/>

						<em>Any advice for current Sym Sys students?</em><br/>
						Take classes with Terry Winograd! As many as you can. And find out about what people are doing
							for their senior projects: several of the ones from my year ended up being startups after
							graduation, so it's good to be on the ground floor!<br/>
						</td></tr>
					</table></div></td></tr>
					
					<tr><td class="text"><% form_for :user, :url => {:action => :post_like} do |form| %><%= @user.likes %>
					<% if @user.likes == 1 %> person likes <% else %> people like <% end %> this</small>
					<input type = "hidden" name="id" value="<%= params[:id] %>">
					<%= submit_tag "Like", :class => "submit" %>
					<% end %></td></tr>
					
					<tr><td><% form_for :user, :url => {:action => :post_question} do |form| %>
					<%= form.text_field(:new_question, :size => "60x1") %>
					<input type = "hidden" name="id" value="<%= params[:id] %>">
					<%= submit_tag "Post a new question", :class => "submit" %>
					<% end %></td></tr>

				</table>
			</td>

			<!-- Column 2 -->
			<td class="contentColumn">
				<table class="infoTable">
					
					<tr><td class="heading">&nbsp;</td></tr>

					<tr><td><table class="clean">
						<tr><td><img class="pic" src="/images/<%= @user.image_file %>"/></td></tr>
						<tr><td height="5"/></tr>
						<tr><td class="title"><%= @user.name %></td></tr>
						<tr><td height="5"/></tr>
						<tr><td class="text">
						<% if @user.degree == "Undergraduate" %>
							BS,
						<% elsif @user.degree == "Masters" %>
							MS,
						<% else %>
							PhD,
						<% end %>
						Symbolic Systems <% if @user.stanford_class != nil %> ('<%= (@user.stanford_class/10)%10%><%= @user.stanford_class % 10%>)<% end %><br/>
							Concentration: <%= @user.major %><br/>
							<%= @user.email %></td></tr>
					</table></td></tr>

					<% if @user.total_authored > 0 %>
					<tr><td class="box"><table class="clean">
						<tr><td class="title" width="150">Inteviews Conducted</td><td class="title" width="50" align="center">Views</td></tr>
						<% @interviewees.each do |interviewee| %>
							<tr><td class="text"><a href="<%= url_for(:action => "view", :id => interviewee.id) %>"><%= interviewee.name %><% if interviewee.stanford_class != nil %> ('<%= (interviewee.stanford_class/10)%10%><%= interviewee.stanford_class % 10%>)<% end %></td><td class="text" style="text-align:center"><%= interviewee.views %></td></tr>
						<% end %>
					</table></td></tr>
					<% end %>

					<tr><td><table class="clean">
						<tr><td class="title" style="text-align:left;">Work Experience</td></tr>
						<tr><td height="5"/></tr>
						<tr><td class="text"><%=@user.title %><br/><%=@user.company %><br/>
							<%=@user.job_start %> - <%=@user.job_end %><br/>
							<!-- Responsibilities: Q.A.<br/> -->
							Satisfaction: <%=@user.satisfaction%> / 5<br/><br/>
							</span></td></tr>
					</table></td></tr>
				</table>
			</td>
		
		</tr></table></td></tr>

		<!-- Footer -->
		
	</table>	
</body>
</html>
<script type="text/javascript">

	function rollOver(imgName, imgSrc)
   	{
		document.getElementById(imgName).src = imgSrc;
	}
</script>
