<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Pathways</title>
    	<%= stylesheet_link_tag 'pathways.css' %>  
</head>
<body>
	<table class="main">
		<!-- Header -->
		<tr><td class="clean"><table class="header"><tr>
			<td class="name"><a href='/profiles/search'><img class="name" src="/images/logos/pathways_symsys.gif"/></a></td>
			<td/>
			<td class="tab"><img id="about" class="tab" src="/images/buttons/about.gif"
				onmouseover="rollOver('about', '/images/buttons/about-on.gif')"
				onmouseout="rollOver('about', '/images/buttons/about.gif')" />
				<!-- onclick="window.location='about.html'"/> --></td>
			<td class="tab"><img id="search" class="tab" src="/images/buttons/search.gif"
				onmouseover="rollOver('search', '/images/buttons/search-on.gif')"
				onmouseout="rollOver('search', '/images/buttons/search.gif')"
				onclick="window.location='/profiles/search'"/></td>
			<% if session[:user_id] %>
				<td class="tab"><img id="mypathway" class="tab" src="/images/buttons/mypathway.gif"
				onmouseover="rollOver('mypathway', '/images/buttons/mypathway-on.gif')"
				onmouseout="rollOver('mypathway', '/images/buttons/mypathway.gif')"
				onclick="window.location='/profiles/view/<%= session[:user_id] %>'"/></td>
				<td class="tab"><img id="signout" class="tab" src="/images/buttons/signout.gif"
					onmouseover="rollOver('signout', '/images/buttons/signout-on.gif')"
					onmouseout="rollOver('signout', '/images/buttons/signout.gif')"
					onclick="window.location='/user/logout'"/></td>
			<% else %>
				<td class="tab"><img id="signin" class="tab" src="/images/buttons/signin.gif"
					onmouseover="rollOver('signin', '/images/buttons/signin-on.gif')"
					onmouseout="rollOver('signin', '/images/buttons/signin.gif')"
					onclick="window.location='/user/signin'"/></td>
			<% end %>
		</tr></table></td></tr>

	
		<!-- Body Content -->
		<tr><td class="content"><table class="clean" align="center"><tr>
		
			<!-- Column 1 -->
			<td class="contentColumn">
				<table class="interviewTable">
					<tr><td colspan="2" class="heading"><%= @user.name %><% if @user.stanford_class != nil %> ('<%= (@user.stanford_class/10)%10%><%= @user.stanford_class % 10%>)<% end %><% if @user.six_words != nil && @user.six_words.length > 0 %>: <%=@user.six_words %><% end %></td></tr>
					<% if @user.video_url != "" %>
						<% @url = @user.video_url.sub(/watch\?v=/, "v/") %>
						<% print @url + "\n" %>
						<tr><td colspan="2" align="center"><object width="580" height="358"><param name="movie" value="<%=@url %>&hl=en_US&fs=1&rel=0&showinfo=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="<%=@url %>&hl=en_US&fs=1&rel=0&showinfo=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="580" height="358"></embed></object></td></tr>
					<% end %>

					
					<tr><td colspan="2" width="100%"><div style="height:444px;overflow:auto;background-color:#EAF0F5;"><table class="clean">
						<tr><td class="text" style="padding:10px;">
						<% if @user.id != @user.author %>
							Interview conducted by <span class="title"><a href="<%= url_for(:action => "view", :id => @author.id) %>"><%= @author.name %><% if @author.stanford_class != nil %> ('<%= (@author.stanford_class/10)%10%><%= @author.stanford_class % 10%>)<% end %></a></span> on <%= @user.interview_date.strftime("%B ") + @user.interview_date.day.to_s + @user.interview_date.strftime(", %Y") %><br/><br/>
						<% end %>
											
						<%= @interview_text %>
						
						</td></tr>
					</table></div></td></tr>
					
					<tr><td class="text">
					<% if session[:user_id] == @user.id %>
						<% if @user.likes > 0 %><%= @user.likes %><% if @user.likes == 1 %> person likes <% else %> people like <% end %> this<% end %>
					<% else %>
						<% form_for :user, :url => {:action => :post_like} do |form| %>
						<% if @user.likes > 0 %><%= @user.likes %><% if @user.likes == 1 %> person likes <% else %> people like <% end %> this<% end %>
						<input type = "hidden" name="id" value="<%= params[:id] %>">
						<%= submit_tag "Like", :class => "submit" %>
						<% end %></td></tr>
					
						<tr><td><% form_for :user, :url => {:action => :post_question} do |form| %>
						<%= form.text_field(:new_question, :size => "60x1") %>
						<input type = "hidden" name="id" value="<%= params[:id] %>">
						<%= submit_tag "Post a new question", :class => "submit" %>
						<% end %>
					<% end %>
					</td></tr>

				</table>
			</td>

			<!-- Column 2 -->
			<td class="contentColumn">
				<table class="infoTable">
					
					<tr><td class="heading" align="right">
						<% if session[:user_id] == @user.id || session[:user_id] == @user.author %>
							<% form_for :user, :url => {:action => :edit, :id => @user.id} do |form| %><%= submit_tag "Edit profile", :class => "submit" %><% end %>
						<% end %>
					</td></tr>

					<tr><td><table class="clean">
						<tr><td><img class="pic" src="/images/pics/<%= @user.image_file %>"/></td></tr>
						<tr><td class="title"><%= @user.name %></td></tr>
						<tr><td class="text" style="text-align:left;">
						<% if @user.degree != "" %>
							<%= @user.degree %>, 
						<% end %>
						Symbolic Systems <% if @user.stanford_class != nil %> ('<%= (@user.stanford_class/10)%10%><%= @user.stanford_class % 10%>)<% end %><br/>
							<% if @user.focus != nil && @user.focus.length > 0 %> Concentration: <%= @user.focus %><br/><% end %>
							<% if @user.email_private == "0" %><%= @user.email %><%end %></td></tr>
					</table></td></tr>

					<% if @user.total_authored > 0 %>
					
					<tr><td class="box"><table class="clean">
						<tr><td class="title" width="150">Inteviews Conducted</td><td class="title" width="70" align="center">Views</td></tr>
						<% @interviewees.each do |interviewee| %>
							<tr><td class="text"><a href="<%= url_for(:action => "view", :id => interviewee.id) %>"><%= interviewee.name %><% if interviewee.stanford_class != nil %> ('<%= (interviewee.stanford_class/10)%10%><%= interviewee.stanford_class % 10%>)<% end %></td><td class="text" style="text-align:center"><%= interviewee.views %></td></tr>
						<% end %>
						<% if session[:user_id] == @user.id %><tr><td height="3"/></tr>
						<tr><td colspan="2" class="text" style="text-align:center;"><a href="<%= url_for(:action => "interview") %>">Interview another alum</a></td></tr><% end %>
					</table></td></tr>

					<% end %>

					<tr><td><table class="clean">
						<tr><td class="title" style="text-align:left;">Work Experience</td></tr>
						<tr><td height="5"/></tr>
						<tr><td class="text" style="text-align:left;">
						<% @jobs.each do |job| %>

							<% if job.title.length > 0%>
								<%= job.title %><br/><%= job.company%><br/>
								<%= job.start_m.to_s + "/" + job.start_y.to_s%> - <% if job.job_current == "1" %>present<% else %><%=job.end_m.to_s + "/" + job.end_y.to_s%><% end %><br/>
								<% if job.responsibilities.length > 0 %>Responsibilities: <%=job.responsibilities %><br/><% end %>
								<% if job.satisfaction != nil%> Satisfaction: <%=job.satisfaction%> / 5<br/><% end %><br/>
							<% end %>
						<% end %>
						</td></tr>
					</table></td></tr>
				</table>
			</td>
		
		</tr></table></td></tr>

		<!-- Footer -->
		
	</table>	
</body>
</html>
<script type="text/javascript">

	function rollOver(imgName, imgSrc)
   	{
		document.getElementById(imgName).src = imgSrc;
	}
</script>
