
	<!-- Body Content -->
	<tr><td class="content"><table class="clean" align="center" border="0">

		<% if flash[:alert] %>
			<tr>
				<td colspan="3" height="30px"/>
			</tr>
			<tr>
				<td colspan="3" align="center"><table class="alert">
					<tr><td class="text" style="text-align:center;"><%= flash[:alert] %></td></tr>
				</table></td>
			</tr>
			<tr>
				<td colspan="3" height="15px"/>
			</tr>
		<% else %>
			<tr>
				<td colspan="3" height="35px"/>
			</tr>
		<% end %>
	
		<tr>
			<!-- Column 1 -->
			<td class="contentColumn"><table class="signInTable">
				<tr><td class="text" height="15" style="text-align:center">First time user? Sign up here:</td></tr>
				<tr><td class="box"><table class="clean" cellpadding="5">
					<tr><td colspan="2" class="heading" style="text-align:center">Sign Up</td></tr>
					<% form_for :user, :url => {:action => :post_register} do |form| %>
						<tr><td class="text">Name</td><td><%= form.text_field(:name) %></td></tr>
						<tr><td class="text">Email</td><td><%= form.text_field(:email) %></td></tr>
						<% if not @email_authentication %>
						<tr><td class="text">Password</td><td><input name="password" type="password" size="30" /></td></tr>
						<tr><td class="text" width="100%">Confirm password</td><td><input name="password_confirmation" type="password" size="30" /></td></tr>
						<% end %>
						<tr><td colspan="2"><table class="clean"><tr>
							<td class="text" style="text-align:left;color:red;" width="100%"><% if flash[:signup_notice] %><small>* <%= flash[:signup_notice] %></small><% end %></td>
							<td style="text-align:right;"><%= submit_tag "Sign up", :class => "submit" %></td>
						</tr></table></td></tr>
					<% end %>
				</table></td></tr>
			</table></td>

			<td width="40px"/>

			<td class="contentColumn"><table class="signInTable">
				<tr><td height="15"/></tr>
				<tr><td class="box"><table class="clean" cellpadding="5">
					<tr><td colspan="2" class="heading" style="text-align:center">Sign In</td></tr>
					<% form_for :user, :url => {:action => :post_signin} do |form| %>
						<tr><td class="text">Email</td><td><%= form.text_field(:email) %></td></tr>
						<tr><td class="text" width="100%">Password</td><td><input name="password" type="password" size="30" /></td></tr>
						<tr><td colspan="2"><table class="clean"><tr>
							<td class="text" style="text-align:left;color:red;" width="100%"><% if flash[:signin_notice] %><small>* <%= flash[:signin_notice] %></small><% end %></td>
							<td style="text-align:right;"><%= submit_tag "Sign in", :class => "submit" %></td>
						</tr></table></td></tr>
					<% end %>
				</table></td></tr>
			</table></td>
		
		</tr>

		<tr>
			<td colspan="3" height="40px"/>
		</tr>
	</table></td></tr>

	<!-- Footer -->
		
<% content_for :javascript do %>
<script type="text/javascript">
	
	
	function rollOver(imgName, imgSrc)
   	{
		document.getElementById(imgName).src = imgSrc;
	}
</script>
<% end %>
