<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Stanford Pathways</title>
    <%= stylesheet_link_tag 'pathways.css' %>  
</head>
<body>
	<table class="main">
	<!-- Header -->
		<tr><td class="clean"><table class="header"><tr>
			<td class="name"><a href='/profiles/search'><table class="header" style="background-image:url(/images/logos/<%= $master.logo_file %>);"/>
				<tr><td class="name"><img class="name" src="/images/logos/<%= $master.pathways_logo %>"/></td></tr></table></a><td/>
			<!--
     			<td class="name"><a href='/profiles/search'><img style="width:150px;" class="name" src="/images/logos/<%= $master.logo_file %>"/></a>
      			<a href='/profiles/search'><img style="width:150px;" class="name" src="/images/logos/<%= $master.pathways_logo %>"/></a></td>
			-->
			
			<td/>

			<td class="tab"><img id="about" class="tab" src="/images/buttons/about.gif"
				onmouseover="rollOver('about', '/images/buttons/about-on.gif')"
				onmouseout="rollOver('about', '/images/buttons/about.gif')" />
				<!-- onclick="window.location='about.html'"/> --></td>
			<td class="tab"><img id="search" class="tab" src="/images/buttons/search.gif"
				onmouseover="rollOver('search', '/images/buttons/search-on.gif')"
				onmouseout="rollOver('search', '/images/buttons/search.gif')"
				onclick="window.location='/profiles/search'"/></td>
			<% if session["#{$master.url}_id"] %>
				<td class="tab"><img id="mypathway" class="tab" src="/images/buttons/mypathway.gif"
					onmouseover="rollOver('mypathway', '/images/buttons/mypathway-on.gif')"
					onmouseout="rollOver('mypathway', '/images/buttons/mypathway.gif')"
					onclick="window.location='/profiles/view/<%= session["#{$master.url}_id"] %>'"/></td> 
				<td class="tab"><img id="signout" class="tab" src="/images/buttons/signout.gif"
					onmouseover="rollOver('signout', '/images/buttons/signout-on.gif')"
					onmouseout="rollOver('signout', '/images/buttons/signout.gif')"
					onclick="window.location='/user/logout'"/></td>
			<% else %>
				<td class="tab"><img id="signin" class="tab" src="/images/buttons/signin.gif"
					onmouseover="rollOver('signin', '/images/buttons/signin-on.gif')"
					onmouseout="rollOver('signin', '/images/buttons/signin.gif')"
					onclick="window.location='/user/signin'"/></td>
			<% end %>
		</tr></table></td></tr>
	
		<%= yield -%>

		<!-- Footer -->
		
	</table>	
</body>
</html>

<%= yield :javascript -%>